@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: whitesmoke;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: whitesmoke;
}

h4 {
  font-size: 20px;
  color: whitesmoke;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: wheat;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}

#header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 80px;
  background: #262b2e;
  box-shadow: 0 5px 15px rgb(0,0,0, 0.06);
}

#header img{
  height: 60%;
  width: 60%;
}
#navbar{
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li{
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a{
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: whitesmoke;
}

#navbar li a:hover,
#navbar li a.active{
  color: #d42b00;
}

#navbar li a.active::after,
#navbar li a:hover::after{
  content: "";
  width: 65%;
  height: 2px;
  background: #d42b00;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#hero{
  background-image: url("img/hero4.png");
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#hero h4{
  padding-bottom: 15px;
}

#hero h1{
  color: #d42b00;
}

#hero button{
  background-image: url("img/button.png");
  background-color: transparent;
  color: whitesmoke;
  border: 0;
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
}

#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#feature .fe-box{
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgb(0,0,0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
}

#feature .fe-box:hover{
  box-shadow: 10px 10px 54px rgb(70,62,221, 0.1);
}
#feature .fe-box img{
  width: 100%;
  margin-bottom: 10px;
}

#feature .fe-box h6{
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: rgb(5, 163, 65);
  background-color: rgb(245, 232, 148);
}